@mixin font-size($sizeValue: 1) {
  font-size: $sizeValue + em;
}

.classic-text {
  @include font-size($sizeValue: 1.2)
}

.classic-text-b-uc {
  @extend .classic-text;
  font-weight: bold;
  text-transform: uppercase;
}

.unit-of-measure {
	position: relative;
	text-transform: none;
	color: #22324b;
	font-weight: 500;
	text-align: right;
	sup {
		font-size: .8em;
		position: absolute;
		top: 0;
		right: 0px;
		transform: translate(50%, -50%);
	}
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-uppercase {
	text-transform: uppercase;
}